@using Microsoft.AspNetCore.Http

@model List<Usuario>

@{
    ViewData["Title"] = "Listar";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<style>
  tr:nth-child(odd) td {
        background-color: #bdbebf;
  }
</style>

<div class="container" style="margin-bottom: 100px;">


<div class="card">
    <div class="card-header">
            <p style="font: bold 2rem Arial; text-shadow: 0px 3px 5px black;">Lista De Usuarios</p>
    </div>

    <div class="card-body">
        <a asp-action="Guardar" asp-controller="MantenedorController1" class="btn btn-outline-dark">Nuevo Usuario</a>
        <hr />
        <table class="table table-bordered">
            <thead>
                <th>IdUsuario</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Contra</th>
                <th>Fecha_Creacion</th>
                <th>Rol Usuario</th>
            </thead>
            <tbody>
                @foreach (var Item in Model)
                {
                    <tr>
                        <td>@Item.IdUsuario</td>
                        <td>@Item.Nombre_User</td>
                        <td>@Item.Correo</td>
                        <td>****</td>
                        <td>@Item.FechaCreacion</td>
                        <td>@Item.Rol.RolName</td>
                        <td>
                            <a asp-action="Editar" asp-controller="MantenedorController1" class="btn btn-dark btn-sm" asp-route-IdUsuario="@Item.IdUsuario">Editar</a>
                            <a asp-action="Eliminar" asp-controller="MantenedorController1" class="btn btn-outline-dark btn-sm" asp-route-IdUsuario="@Item.IdUsuario">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

